 body{
      display: inline-block;
      box-shadow: 0 4px 8px rgba(0,0,0,0.5);
      margin: 2em;
      padding: 0.5em;
      background-color: beige;
      text-align: center;
      border: 2px solid gray
    }
    
  .button{
    background-color: red;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.9em;
    border-radius: 3px;
  }
  .button:hover{
    background-color: brown;
  }
  input::placeholder {
    align-self: center;
    text-align: right;
    color: black;
    font-size: 1.2em;
    opacity: 30;
  }